
@{
}


<div id="Myinformation">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="fas fa-map-marker-alt fa-2x"></i>
                    <div class="text">
                        <h2>Address</h2>
                        <p>Nerimanov, Baku, Azerbaijan</p>
                        <p>28 may, Baku, Azerbaijan</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="fas fa-phone fa-2x"></i>
                    <div class="text">
                        <h2>Phone Number</h2>
                        <p>(+994)41 777 77 77</p>
                        <p>(+994)41 666 66 66</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="info-item">
                    <i class="far fa-envelope fa-2x"></i>
                    <div class="text">
                        <h2>Email Address</h2>
                        <p>test@mail.com</p>
                        <p>test@mail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Maps Area start -->

<div id="maps">
    <div class="container">
        <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2276.927843724703!2d49.8465663158857!3d40.379310189668715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1saz!2s!4v1614302085106!5m2!1saz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>

<!-- Maps Area end -->
<!-- Contact Us Area -->

<div id="ContMail">
    <div class="container">
        <h1 class="toph1">Please Send an Email.</h1>
        <div class="row">
            <div class="col-lg-6 colitem">
                <ul>
                    <li>
                        <input type="text" placeholder="Name:">
                    </li>
                    <li>
                        <input type="text" placeholder="Email:">
                    </li>
                    <li>
                        <input type="text" placeholder="Phone Number:">
                    </li>
                    <li>
                        <input type="text" placeholder="Your Title(Optional):">
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 colitem">
                <textarea name="" id="" cols="30" rows="10" placeholder="Enter Message"></textarea>
            </div>
            <input class="btn" type="submit" value="Send Message">
        </div>
    </div>
</div>

<!-- Contact Us Area -->
