<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://kit.fontawesome.com/cdf62a7c5d.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mr+De+Haviland&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Preloader start -->

    <div class="preloader">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <!-- Preloader end -->
    <!-- Header Area -->

    <header class="Allheader transparent-bar">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-6">
                    <div class="logo">
                        <a href="~/Home">
                            <h1>LOGO</h1>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="header-bottom-right">
                        <div class="main-menu">
                            <nav>
                                <ul class="firstul">
                                    <li class="top-hover firstli">
                                        <a class="mmfra" href="~/Home">home</a>
                                        <ul class="submenu">
                                            <li><a href="index.html">Home 1</a></li>
                                            <li><a href="index-2.html">Home 2</a></li>
                                        </ul>
                                    </li>
                                    <li class="firstli"><a class="mmfra" href="about.html">about</a></li>
                                    <li class="mega-menu-position top-hover firstli">
                                        <a class="mmfra" href="~/Products/Index/">shop</a>
                                        <ul class="mega-menu">
                                            <li class="mgmfrli">
                                                <ul>
                                                    <li class="mega-menu-title">Categories 01</li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                    <li><a href="shop.html">Test 1</a></li>
                                                </ul>
                                            </li>
                                            <li class="mgmfrli">
                                                <ul>
                                                    <li class="mega-menu-title">Categories 02</li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                    <li><a href="shop.html">Test 2</a></li>
                                                </ul>
                                            </li>
                                            <li class="mgmfrli">
                                                <ul>
                                                    <li class="mega-menu-title">Categories 03</li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                    <li><a href="shop.html">Test 3</a></li>
                                                </ul>
                                            </li>
                                            <li class="mgmfrli">
                                                <ul>
                                                    <li class="mega-menu-title">Categories 04</li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                    <li><a href="shop.html">Test 4</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="top-hover firstli">
                                        <a class="mmfra" href="#">pages</a>
                                        <ul class="submenu">
                                            <li><a href="about.html">about us </a></li>
                                            <li><a href="Shop.html">shop list</a></li>
                                            <li><a href="cart.html">cart page</a></li>
                                            <li><a href="MyAccount.html">my account</a></li>
                                            <li><a href="login.html">login</a></li>
                                            <li><a href="register.html">register</a></li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </li>
                                    <li class="firstli"><a class="mmfra" href="~/Contact/Index/">contact</a></li>

                                    <li class="top-hover firstli">
                                        <partial name="_LoginPartial" />
                                    </li>

                                </ul>
                            </nav>
                        </div>

                        <div class="header-cart">
                            <a href="/Products/Checkout"><i class="fas fa-shopping-bag fa-2x"></i></a>
                        </div>
                        <div class="menubar">
                            <i class="fas fa-bars fa-2x"></i>

                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-area">
                <div class="mobile-menu">
                    <nav id="mobile-menu-active">
                        <ul class="menu-overflow">
                            <li class="mobile-menuli">
                                <a class="bsa" href="~/Home">HOME</a>
                                <ul class="mobile-menuul">
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="index.html">Home</a></li>
                                </ul>
                            </li>
                            <li class="mobile-menuli">
                                <a class="bsa" href="#">pages</a>
                                <ul class="mobile-menuul">
                                    <li><a href="about.html">about us </a></li>
                                    <li><a href="~/Products">shop Grid</a></li>
                                    <li><a href="#">product details</a></li>
                                    <li><a href="#">cart page</a></li>
                                    <li><a href="#">checkout</a></li>
                                    <li><a href="#">wishlist</a></li>
                                    <li><a href="MyAccount.html">my account</a></li>
                                    <li><a href="login.html">login</a></li>
                                    <li><a href="register.html">register</a></li>
                                    <li><a href="contact.html">contact</a></li>
                                </ul>
                            </li>
                            <li class="mobile-menuli">
                                <a class="bsa" href="~/Products"> Shop </a>
                                <ul class="mobile-menuul">
                                    <li>
                                        <a href="#">Categories 01</a>
                                        <ul>
                                            <li><a href="shop.html">test 1</a></li>
                                            <li><a href="shop.html">test 1</a></li>
                                            <li><a href="shop.html">test 1</a></li>
                                            <li><a href="shop.html">test 1</a></li>
                                            <li><a href="shop.html">test 1</a></li>
                                            <li><a href="shop.html">test 1</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Categories 02</a>
                                        <ul>
                                            <li><a href="shop.html">test 2</a></li>
                                            <li><a href="shop.html">test 2</a></li>
                                            <li><a href="shop.html">test 2</a></li>
                                            <li><a href="shop.html">test 2</a></li>
                                            <li><a href="shop.html">test 2</a></li>
                                            <li><a href="shop.html">test 2</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Categories 03</a>
                                        <ul>
                                            <li><a href="shop.html">test 3</a></li>
                                            <li><a href="shop.html">test 3</a></li>
                                            <li><a href="shop.html">test 3</a></li>
                                            <li><a href="shop.html">test 3</a></li>
                                            <li><a href="shop.html">test 3</a></li>
                                            <li><a href="shop.html">test 3</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">Categories 04</a>
                                        <ul>
                                            <li><a href="shop.html">test 4</a></li>
                                            <li><a href="shop.html">test 4</a></li>
                                            <li><a href="shop.html">test 4</a></li>
                                            <li><a href="shop.html">test 4</a></li>
                                            <li><a href="shop.html">test 4</a></li>
                                            <li><a href="shop.html">test 4</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="mobile-menuli">
                                <a class="bsa" href="MyAccount.html">My Account</a>
                                <ul class="mobile-menuul">
                                    <li><a href="login.html">Login</a></li>
                                    <li><a href="register.html">Register</a></li>
                                    <li><a href="MyAccount.html">My Account</a></li>
                                </ul>
                            </li>
                            <li class="mobile-menuli"><a class="bsa" href="contact.html"> Contact us </a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Header Area -->
    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    <!-- Footer Area start -->

    <footer id="footer_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>About Us</h4>
                        </div>
                        <div class="footer-about">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do eiusmod tempor incididun</p>
                            <div class="footer-contact">
                                <ul>
                                    <li>Address: 123 Main Street, Anytown, CA 12345 - USA.</li>
                                    <li>Telephone: (012) 800 456 789-987 </li>
                                    <li>Email: <a href="#">yourmail@example.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="social-icon">
                            <ul>
                                <li><a class="facebook" href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a class="instagram" href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a class="googleplus" href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a class="rss" href="#"><i class="fas fa-rss"></i></a></li>
                                <li><a class="dribbble" href="#"><i class="fas fa-basketball-ball"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Information</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Delivery Information</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                                <li><a href="#">Customer Service</a></li>
                                <li><a href="#">Return Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>My Account</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">WishList</a></li>
                                <li><a href="#">Newsletter</a></li>
                                <li><a href="#">Order History</a></li>
                                <li><a href="#">International Orders</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="footer-widget">
                        <div class="footer-title">
                            <h4>Working Hour</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="#">Monday:10AM-9PM</a></li>
                                <li><a href="#">Tuesday:10AM-9PM</a></li>
                                <li><a href="#">Wednesday:10AM-9PM</a></li>
                                <li><a href="#">Thursday:10AM-9PM</a></li>
                                <li><a href="#">Friday:10AM-9PM</a></li>
                                <li><a href="#">Saturday:10AM-5PM</a></li>
                                <li><a href="#">Sunday:Closed</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer Area end -->
    <script src="~/js/jquery-3.4.1.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/js/app.js"></script>
    <script src="~/js/slider.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
