@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item top-hover firstli">
        <a  class="nav-link text-dark mmfra" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
        <ul class="submenu">
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
            <li><a href="MyAccount.html">My Account</a></li>
        </ul>
    </li>

}
else
{
    <li class="top-hover firstli">
    <a class="mmfra" href="MyAccount.html">My Account</a>
    <ul class="submenu">
        <li><a href="/Auth/Login">Login</a></li>
        <li><a href="/Auth/Registration">Register</a></li>
    </ul>
    </li>
}
</ul>
